.card-animation {
  animation: card 0.4s ease-out;
}

@keyframes card {
  from {
    transform: translate(1000px, -1650px) rotate(-50deg);
  }
  to {
    transform: translate(0px, 0px) rotate(0deg);
  }
}
